<h1>Tasks</h1>
<p>Here are my tasks</p>
<%= link_to "New task", new_task_path %>
<% @tasks.each do |task| %>
<!--   <%= link_to task.name, tasks_path + "/" + task.id.to_s %>
  <div style="border:1px solid black; border-radius:5px; margin:10px; padding:10px; background-color:rgb(240,240,240)">
    <h2><%= task.name %></h2>
    <p>Priorité: <%= task.priority %> - Date: <%= task.creation_date %></p>
  </div> -->
  <%= link_to task_path(task) do %>
    <div style="border:1px solid black; border-radius:5px; margin:10px; padding:10px; background-color:rgb(240,240,240)">
      <h2><%= task.name %></h2>
      <p>Priorité: <%= task.priority %> - Date: <%= task.creation_date %></p>
      <p><%= link_to "Edit", edit_task_path(task) %></p>
      <p><%= link_to "Delete", task_path(task), method: :delete, data: { confirm: "Are you sure?"} %></p>
    </div>
  <% end %>
<% end %>
