<h1>Tasks Details</h1>
<p>Find me in app/views/tasks/show.html.erb</p>

<div style="border:1px solid black; border-radius:5px; margin:10px; padding:10px; background-color:rgb(240,240,240)">
  <h2><%= @task.name %></h2>
  <p>Priorité: <%= @task.priority %> - Date: <%= @task.creation_date %></p>
  <p><%= @task.description %></p>
</div>
<%= link_to "Back to the list", tasks_path %>
